main {
  display: flex;
  flex-wrap: wrap;
}

#mobileMenuBtn {
  display: none;
}

#mobileMenu {
  display: none;
}

#stdMenu {
  display: block;
  order: 1;
}

header {
  order: 0;
  text-align: center;
}

.brand {
  font-size: 3em;
}

.section-heading {
  font-size: 2em;
}

.hero {
  width: 50%;
  order: 2;
}

.top-news {
  width: 50%;
  order: 3;
}

.scores {
  width: 50%;
  order: 5;
}

.weather {
  width: 50%;
  order: 4;
}

.latest-news {
  order: 6;
}

footer {
  order: 7;
}
