/* Minor Breakpoints */

@media screen and (min-width: 641px) and (max-width: 800px) {
  .location {
    display: none;
  }
}

/* Common Styles */

body {
  overflow-x: hidden;
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

header, #stdMenu, section, footer {
  box-sizing: border-box;
  padding: 0 0.5em 0 0.5em;
  margin-bottom: 2em;
}

hr {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

/* Header */

header img {
  height: 50px;
  margin: 1em 0.5em 0 0;
}

.brand {
  font-size: 1.7em;
  display: inline;
}

/* Nav */

#stdMenu {
  display: none;
  text-align: center;
}

#stdMenu ul {
  list-style: none;
  padding: 0;
}

#stdMenu li {
  display: inline;
  font-size: 2em;
  text-transform: uppercase;
  padding: 0 1.25em 0 1.25em;
}

#stdMenu a {
  text-decoration: none;
  color: #616161;
}

#stdMenu a:hover {
  text-decoration: underline;
  color: #212121;
}

/* Hamburger Menu */

#mobileMenuBtn {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0.5em;
  margin-top: 1em;
}

#mobileMenuBtn div {
  background-color: #212121;
  height: 5px;
  width: 36px;
  margin: 4px 0 0 0;
}

/* Mobile Menu Div */

#mobileMenu {
  position: absolute;
  top: 3.8em;
  -webkit-transform: translate(639px, 0);
  transform: translate(639px, 0);
  transition: transform 0.7s ease-in-out;
  height: 1000px;
  width: 639px;
  z-index: 1;
  background-color: #424242;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 2em;
  list-style: none;
  padding: 0;
}

#mobileMenu.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#mobileMenu ul {
  list-style: none;
  margin: 1em 0 0 0.5em;
  line-height: 3em;
}

#mobileMenu a {
  text-decoration: none;
  color: #fff;
}

/* Hero */

.hero {
  height: 300px;
  background-image: url("../images/dog.jpg");
  background-size: 640px;
  position: relative;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.hero-heading {
  margin: 0.5em 0.5em 0.25em 0.5em;
}

.description p {
  margin: 0.25em 0.5em 0.5em 0.5em;
}

/* Top News */

.section-heading {
  font-weight: 300;
  font-size: 1.4em;
  margin: 0 0 0 0;
  border-bottom: 1px solid #e0e0e0;
}

.more-href {
  float: right;
  font-size: 0.8em;
  color: #333;
  text-decoration: none;
}

.top-news ul {
  padding: 0;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item {
  list-style: none;
  font-size: 1.25em;
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #E0E0E0;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}

.top-news__item:last-child {
  border-bottom: none;
}

/* Scores */

.scores-table-container {
  overflow-x: auto;
}

.scores-table {
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

.scores-table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
  text-transform: uppercase;
}

.scores-table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores-table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores-table th, td {
  padding: 1em;
}

.scores-table .winner {
  font-weight: bold;
}

/* Weather */

.weather__today {
  text-align: center;
  margin: 1em 0 0 0;
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__description {
  font-size: 1.5em;
}

.weather__today__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.weather__today__temp {
  font-size: 2em;
}

.weather__today__deg {
  font-size: 1em;
}

.weather__next {
  list-style: none;
  padding: 0;
  text-align: center;
}

.weather__next__item {
  display: inline-block;
  width: 19%;
}

.weather__next__item span {
  display: block;
}

/* Latest News */

.latest-news ul {
  list-style: none;
  padding: 0;
}

.snippet {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0 0.5em 0;
}

.snippet__thumbnail {
  width: 20%;
  float: left;
  margin-right: 0.5em;
}

.snippet__title {
  margin: 0;
}

.snippet__title a {
  text-decoration: none;
  font-weight: 500;
  color: #666;
}

.snippet p {
  text-overflow: ellipsis;
}

footer {
  clear: both;
  width: 100%;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  display: inline;
  padding: 0 0.5em 0 0.5em;
}

footer a {
  text-decoration: none;
  color: #333;
}
